[submodule "server/great3dgsforvr/3dgs-mcmc"]
	path = server/great3dgsforvr/3dgs-mcmc
	url = https://github.com/YviKiwi00/3dgs-mcmc.git
[submodule "server/great3dgsforvr/SAGS"]
	path = server/great3dgsforvr/SAGS
	url = https://github.com/YviKiwi00/SAGS.git
[submodule "server/great3dgsforvr/Frosting"]
	path = server/great3dgsforvr/Frosting
	url = https://github.com/YviKiwi00/Frosting.git
